#chatTitulo{
    margin-bottom: 1%;
}

#chat{
    width: 30%;
    border: 1px solid black;
    background-color: #1f1c1c;
    border-radius: 5px;
    padding: 5px;
    height: 30em;
    margin: 0em;
    overflow: auto;
}

.mensagemCompleta{
    background-color: #2e2b2b;
    color: white;
    border-radius: 4px;
    margin: 5px;
    padding: 5px;
}